* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   background-color: #f9f9f9;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
 max-width: 1200px; /* Max width*/
  margin: 0 auto; 
  padding: 50px; 
  box-sizing: border-box;
  
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}


.main {
  text-align: left;
  display: inline-block;
  width: 100%; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

// /* small smartphones */
// @media (max-width: 599px) {
//   // .wrapper {
//   //   max-width: calc(100% - 40px); /* Marginesy po 20px z każdej strony */
//   // }

//   h1 {
//     font-size: 2.4em;
//   }

//   .main {
//     width: 100%;
//   }
// }

// /* cheap tablets */
// @media (min-width: 600px) and (max-width: 799px) {
//   // .wrapper {
//   //   max-width: calc(100% - 80px); /* Margins 200px */
//   // }

//   h1 {
//     font-size: 2.8em;
//   }

//   .main {
//     width: 100%;
//   }
// }

// /* Tablets, thinkpads */
// @media (min-width: 800px) and (max-width: 1199px) {
//   // .wrapper {
//   //   max-width: calc(100% - 200px); /* Margins 200px */
//   // }

//   h1 {
//     font-size: 3em;
//   }

//   .main {
//     flex: 3;
//   }
// }

// /* bog screens*/
// @media (min-width: 1200px) {
//   // .wrapper {
//   //   max-width: calc(100% - 400px); /* Margins 200px*/
//   // }

//   h1 {
//     font-size: 3.2em;
//   }

//   .main {
//     flex: 3;
//   }
// }
