.photo-footer {
  font-family: Roboto;
  font-size: 0.75rem;
  font-weight: 200;
  position: fixed;
  bottom: 0;
  width: 100%;
  left:0px;
  gap: 20px;
  text-align: left;
  padding: 10px 0;
  display: flex;         // Dodano flexbox

 
  
  span {
    
   
  }

  
  
  span img {

    height: 24px;
    margin-left: 10px;  // Dodałem margines z prawej strony dla lepszego wyglądu
  }
}
