$background-color: #f9f9f9;
$border-color: #ddd;
$text-color: #000;
$skill-background-color: black;
$skill-text-color: white;

.project-card {
  background: $background-color;
  height: auto;
  border: 1px solid $border-color;
  padding: 20px;
  max-width: 450px;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;

  img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.5s ease;
    border-radius: 10px;

    &:hover {
      filter: none;
      -webkit-filter: none;
    }
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.25em;
    opacity: 0.7;
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.7;
  }

  p {
    color: $text-color;
    line-height: 1.5;
    opacity: 0.7;
  }
}

/* SKILLS */
.project-card__skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between skill items */
  opacity: 0.7;
  box-sizing: border-box;

  .project-card__skill {
    background-color: $skill-background-color;
    color: $skill-text-color;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 0;
    min-width: 60px;
    box-sizing: border-box;

    &:hover {
      transform: scale(1.1);
    }
  }
}

/* MEDIA QUERIES */

/* Smartphones (portrait and landscape) */
@media (max-width: 599px) {
  .project-card {
    max-width: 100%;
    flex: 1 1 100%;
  }

  .project-card__skills-container {
    gap: 5px;
  }

  .skill {
    font-size: 9px;
    padding: 4px 8px;
  }
}

/* Tablets (portrait and landscape) */
@media (min-width: 600px) and (max-width: 899px) {
  .project-card {
    max-width: 100%;
    flex: 1 1 calc(50% - 40px);
  }

  .project-card__skills-container {
    gap: 8px;
  }

  .project-card__skill {
    font-size: 10px;
    padding: 5px 10px;
  }
}

/* Desktops (small to large) */
@media (min-width: 900px) {
  .project-card {
    flex: 1 1 calc(33.333% - 40px);
  }

  .project-card__skills-container {
    gap: 10px;
  }

  .project-card__skill {
    font-size: 10px;
    padding: 5px 10px;
  }
}
