
//CONTACT    
.social-contact {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 30px;
  
  a {
    background: none;
    border: none;

    img {
      width: 50px;
      opacity: 0.5;
      &:hover {
        animation: wiggle 0.5s;
      }
    }
  }
}
    
    
 @media (max-width: 480px) {
    
    .social-contact a img{
      width: 30px;
      }
    
    }
//About
.social {
    margin-bottom: 0;
    background: none;
    display: flex;
    gap: 30px;
    
    // right: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 30px;
    margin-right: 20px;

    a {
       margin: 50px 0px 0px;
      border: none;
      background: none;

      img {
        
        // margin-top: 20px;
        width: 50px;
        opacity: 0.5;
        &:hover {
          animation: wiggle 0.5s;
        }
      }
    }
  }

/* MEDIA QUERIES */
@media (max-width: 1280px) {


  .social {
    gap: 20px;
  }
}

@media (max-width: 965px) {
  

  .social {
    gap: 15px;
    display: inline-flex;

    a {
      margin: 30px 0px 0px;

      img {
        width: 40px;
      }
    }
  }
}

@media (max-width: 320px) {


  .social {
    gap: 10px;

    a {
      margin: 20px 0px 0px;

      img {
        width: 30px;
      }
    }
  }
}

//HEADER
  .socialbuttons {
    display: flex;
    align-items: center;
    gap: 50px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;

    a {
      border: none;
      background: none;

      img {
        width: 20px;
        opacity: 0.5;
        &:hover {
          animation: wiggle 0.5s;
        }
      }
    }
  }

  // Media query for smaller screens
  @media (max-width: 1100px) {
    

    .socialbuttons {
      position: relative;
      right: auto;
      top: auto;
      transform: none;
      margin-top: 10px;
      margin-right: 20px;
      gap: 30px;
      order: 2;
    }
  }

  @media (max-width: 480px) {
 

    .socialbuttons {
      gap: 30px;
      margin-top: 10px;
      justify-items: center;
    }
  }
